.home {
    .info {
      display: flex;
  
      .custom {
        flex: 1;
      }
    }
  }
  
  .card {
    border-radius: 12px;
    padding: 20px;
    background: linear-gradient(
      125deg,
      #17707812 15%,
      #12606750 35%,
      #0c4b51 100%
    );
    border: none;
  }
  
  .chat {
        position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    background: linear-gradient(125deg, #17707812 15%, #12606750 35%, #0c4b51 100%);
    cursor: pointer;
    border-radius: 16px;
    backdrop-filter: blur(16px);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #ffffff25;
  
    img {
      width: 30px;
      height: 30px;
    }
  
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
  
  @media screen and (max-width: 1440px) {
    .home {
      min-height: 100vh;
  
      .chat {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }