.home {
  .info {
    display: flex;
    max-height: 60%;
  }
}

@media screen and (max-width: 1440px) {
  .home {
    min-height: 100vh;

    .container {
      padding-bottom: 20px;
    }

    .chat {
      padding: 8px 16px;
      
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}