.home {
  .info {
    display: flex;
    max-height: 60%;
    margin: 16px;
    gap: 16px;
    
    @media screen and (min-width: 768px) {
      margin: 40px;
    }
    
    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-height: none;
      margin: 12px;
    }
  }

  .card {
    background: linear-gradient(
        125deg,
        #17707812 15%,
        #12606750 35%,
        #0c4b51 100%
      );
    border: none;
    
    @media screen and (max-width: 768px) {
      margin: 8px 12px;
    }
  }

  .chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    background: linear-gradient(125deg, #17707812 15%, #12606750 35%, #0c4b51 100%);
    cursor: pointer;
    border-radius: 16px;
    backdrop-filter: blur(16px);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff25;
    z-index: 50;
    
    @media screen and (max-width: 768px) {
      right: 12px;
      bottom: 12px;
      padding: 8px 16px;
    }

    img {
      width: 30px;
      height: 30px;
      
      @media screen and (max-width: 768px) {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

@media screen and (max-width: 1440px) {
  .home {
    min-height: 100vh;

    .info {
      margin: 12px;
      gap: 12px;
    }

    .container {
      padding-bottom: 16px;
    }

    .chat {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}