.home {
  .infoBox,
  .chartByTime,
  .infoList {
      background: linear-gradient(
    125deg,
    #17707812 15%,
    #12606750 35%,
    #0c4b51 100%
  );
    border: none;
  }

  .tab {
    padding: 20px;
    color: white;
    font-size: 14px;
  }

  .chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 30px;
    transition: 0.3s;

    background-color: #ffffff25;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

@media screen and (max-width: 1440px) {
  .home {
    .chat {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}