.addressInfo {
  display: flex;
  flex-direction: column;
  background: linear-gradient(125deg, #177078 15%, #126067 35%, #0c4b51 100%);
  color: #a0aec0;
  gap: 16px;

  .title {
    font-size: 20px;
    text-align: center;
    color: white;
  }

  .divider {
    margin: 12px 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      #e0e1e228 0,
      #e0e1e228 10%,
      #e0e1e2 25%,
      #e0e1e2 75%,
      #e0e1e228 90%,
      #e0e1e228 100%
    );
  }
}

@media screen and (max-width: 1440px) {
  .addressInfo {
    .title {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }
  }
}
